@model Nips.Models.Bilde

<div>
    <h4>Trololo</h4>
    <hr />      
        <img src="data:image/png;base64, @Convert.ToBase64String(Model.imageData, 0, Model.imageData.Length)" width="100" />   
</div>

