

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            "@ViewBag.VareNavn"
        </dt>
        <dt>
            "@ViewBag.VareAntall"
        </dt>
        <dt>
            "@ViewBag.VarePris"
        </dt>
        <dt>
            "@ViewBag.VareBeskrivelse"
        </dt>

    </dl>
</div>

