
@{
    ViewBag.Title = "Vare";
}

<link href="~/Content/Custom/Main.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Custom/Nav.css" rel="stylesheet" type="text/css" />


<div class="container">
    <div class="jumbotron">
        <h2>Vare</h2>
        </div>
    </div>

