
@{
    ViewBag.Title = "FAQ";
}

        
            <link href="~/Content/Custom/Main.css" rel="stylesheet" type="text/css" />
            <script src="../../Scripts/angular.js"></script>
            <script src="~/Scripts/App/faqController.js"></script>
            <title></title>
            <meta charset="utf-8" />
        <div>
            <div class="container">
                <div class="jumbotron">
                    <div ng-controller="faqController">
                        <h2>FAQ</h2>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav">
                                    <li><a href="" ng-click="visFAQ()">FAQ</a></li>
                                    <li><a href="" ng-click="visListe()">Liste</a></li>
                                    <li><a href="" ng-click="visSporsmal()">Kontakt oss</a></li>
                                </ul>
                            </div>
                        </nav>
                       
                            <div ng-show="FAQ">
                                <table>
                                    <tr>
                                        <td><button class="btn btn-default" ng-click="viskategori1()">Kunde</button></td>
                                        <td><button class="btn btn-default" ng-click="viskategori2()">API-controlleren</button></td>
                                        <td><button class="btn btn-default" ng-click="viskategori3()">Angular controlleren?</button></td>
                                        <td><button class="btn btn-default" ng-click="viskategori4()">MCV</button></td>
                                    </tr>
                                </table>
                                <br />
                                <div ng-show="kategori1">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>
                                                    <div ng-show="laster">
                                                        <h3>Laster... vennligst vent.</h3>
                                                    </div>
                                                </td>{{sporsmal.Beskrivelse}}
                                            </tr>
                                        </thead>
                                        <tbody ng-init="loading=[]" ng-repeat="sporsmal in alleKategori1">
                                            <tr>
                                                <td>

                                                    <h2>{{sporsmal.Beskrivelse}}</h2>
                                                    <a href="" ng-click="loading[$index]=true">Les mer</a>
                                                    <div ng-show="loading[$index]">
                                                        {{sporsmal.Svar}}<br />  
                                                        <a href="" ng-click="loading[$index]=false">lukk</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                   </div>
                                <div ng-show="kategori2">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>
                                                    <div ng-show="laster">
                                                        <h3>Laster... vennligst vent.</h3>
                                                    </div>
                                                </td>{{sporsmal.Beskrivelse}}
                                            </tr>
                                        </thead>
                                        <tbody ng-init="loading=[]" ng-repeat="sporsmal in alleKategori2">
                                            <tr>
                                                <td>

                                                    <h2>{{sporsmal.Beskrivelse}}</h2>
                                                    <a href="" ng-click="loading[$index]=true">Les mer</a>
                                                    <div ng-show="loading[$index]">
                                                        {{sporsmal.Svar}}<br />  
                                                        <a href="" ng-click="loading[$index]=false">lukk</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="kategori3">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>
                                                    <div ng-show="laster">
                                                        <h3>Laster... vennligst vent.</h3>
                                                    </div>
                                                </td>{{sporsmal.Beskrivelse}}
                                            </tr>
                                        </thead>
                                        <tbody ng-init="loading=[]" ng-repeat="sporsmal in alleKategori3">
                                            <tr>
                                                <td>

                                                    <h2>{{sporsmal.Beskrivelse}}</h2>
                                                    <a href="" ng-click="loading[$index]=true">Les mer</a>
                                                    <div ng-show="loading[$index]">
                                                        {{sporsmal.Svar}}<br />  
                                                        <a href="" ng-click="loading[$index]=false">lukk</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="kategori4">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>
                                                    <div ng-show="laster">
                                                        <h3>Laster... vennligst vent.</h3>
                                                    </div>
                                                </td>{{sporsmal.Beskrivelse}}
                                            </tr>
                                        </thead>
                                        <tbody ng-init="loading=[]" ng-repeat="sporsmal in alleKategori4">
                                            <tr>
                                                <td>

                                                    <h2>{{sporsmal.Beskrivelse}}</h2>
                                                    <a href="" ng-click="loading[$index]=true">Les mer</a>
                                                    <div ng-show="loading[$index]">
                                                        {{sporsmal.Svar}}<br />  
                                                        <a href="" ng-click="loading[$index]=false">lukk</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            <div ng-show="Sporsmal">
                                <p>Still oss et spørmål</p>
                                <form name="skjema">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <table>
                                                <tr>
                                                    <td>
                                                        Epost:
                                                        <input placeholder="Epostadresse" name="email" ng-model="email" ng-required="true" ng-pattern="/^[a-zA-ZæÆøØåÅ][\w\.-]*[a-zA-Z0-9æÆøØåÅ].[a-zA-ZæÆøØåÅ][\w\.-]*[a-zA-Z0-9æÆøØåÅ]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/"> <!-- Fikk ikke lov til å skirve krøllalfa fordi dette er et cshtml dokument-->
                                                        <p class="label label-info" ng-show="skjema.email.$invalid && skjema.email.$dirty">Skriv inn en gyldig epostadresse.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>


                                                        <label for="sel1">Velg Kategori </label>
                                                        <select ng-model="Kategori" ng-required="true" class="form-control" value="Kunde" id="sel1">
                                                            <option value="Kunde">Kunde</option>
                                                            <option value="API">API</option>
                                                            <option value="Angular">Angular</option>
                                                            <option value="Mvc">Mvc</option>
                                                        </select>


                                                        <p class="label label-info" ng-show="skjema.Kategori.$invalid && skjema.Kategori.$dirty">Velg en kategori</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <textarea placeholder="Skriv spørsmål her" name="beskrivelse" rows="6" cols="70" ng-pattern="/(.$)/" ng-model="beskrivelse"> </textarea>
                                                        <p class="label label-info" ng-show="skjema.beskrivelse.$invalid && skjema.beskrivelse.$dirty">Skriv inn et lovlig etternavn</p>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#spørsmålmondal" ng-click="lagreSporsmal()">Send Sporsmal</button>
                                </form>
                            </div>
                            <div ng-show="Liste">
                                <br />
                                <table>
                                    <thead>
                                        <tr>
                                            Spørsmål ifra kunder
                                        </tr>
                                        <tr>
                                            <td>
                                                <div ng-show="laster">
                                                    <h3>Laster... vennligst vent.</h3>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="sporsmal in sporsmalUtenSvar">
                                        <tr>
                                            <td>Epost: {{sporsmal.email}}<br />  
                                            <textarea disabled rows="6" cols="70">{{sporsmal.Beskrivelse}}</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="btn btn-warning" ng-click="setTempid(sporsmal.kundeid)" data-toggle="modal" data-target="#myModal">Slett</button>
                                                <!--<button class="btn btn-success" ng-click="endreSporsmal(sporsmal.kundeid)">Endre</button>-->
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        <div id="spørsmålmondal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Sending av Spørsmål</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{melding}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Slett</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Er du sikker på at du vil slette dette spørsmålet?.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sletteSporsmal()">Slett</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                </div>
            </div>      
        </div>
