
<link href="~/Content/Custom/Main.css" rel="stylesheet" />

        <div class="container">
        <div class="jumbotron">
        <h2>Om oss</h2>
        <hr style="border-top:1px solid rgb(221, 221, 221);" />
        <p style="font-style:italic">
        Nips - Noe for enhver og alle. Ting man ikke trenger.
        </p>
        <br />
        Nips, ting man samler på, ting man ikke vil samle på. Nips er noe for seg selv...
        <br />
        Noen liker nips, andre liker det ikke... Men vi liker det.
        <br />
        Med vennlig hilsen: Elisabeth, Håkon & Olav
        <br />
        <hr style="border-top:1px solid rgb(221, 221, 221);" />
        <h4> <span class="glyphicon glyphicon-envelope"></span> Kontakt oss</h4>
        Nips.no AS<br />
        Adresse: Skolen<br />
        0169 Oslo<br />
        Telefon: Tlf ute av drift<br />
        E-post: kontakt@nips.no<br />
        Org.mva Nr: 101 000 101<br />
    </div>
</div>